
 /* applies to everything on the page */
 * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* header design  */

.topnav {
  background-color: #DBC1AC;
  overflow: hidden;
  font-family: roboto;
  font-weight: bold;

}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:  #ECE0D1;
  color: black;
}

.topnav a.active {
  background-color: #ECE0D1;
  color: black;
}

.topnav .icon {
  display: none;
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 16px;
}    

body {
  background-color: #fbf7f5;
  height: 100vh;
  margin: 0;
}


/* main content design */

.intro{
  text-align: center;
  margin: 10px 0 0 0px;
  padding: 10px;
  /* margin-bottom: 20px; */
  max-width: 400ch;
} 

.text {
  text-align: center;
  padding: 10px;
  /* margin-bottom: 20px; */
  max-width: 500ch;
  flex-wrap: wrap;
} 

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 100px;
  text-align: center;
  margin: 10px;
  padding: 20px; 

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }  



img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
} 


.col-sm {
  border: 15px solid #DBC1AC;
  border-radius: 20px;
  grid-gap: 100px;
} 

.add-to-basket {
  width: 100%;
}


/* footer */
.footer-logo{
  width: 100px;
  height: 100px;
}

.footer { 
  background-color: #DBC1AC;
  padding: 30px; 
  color: #000;
  font-family: roboto;
}

.footer-title { 
  font-size: 30px; 
  letter-spacing: 3px;
  color: #000;
}

.subjects { 
  display: flex;
  justify-content: space-around;
  gap: 40px; 
  margin-top: 40px; 
  flex-wrap: wrap; 
  color: #000;
}

h4{
  color: #000;
}


.hours{
  margin-top: 15px;
  color: #000;
}

.list { 
  list-style: none;
  margin-top: 12px;
  color: #000;
}

.contact-us { 
  flex-wrap: wrap; 
}
.footer-option {
  text-decoration: none;
  color: black; 
}

.footer-option:hover  {
  text-decoration: underline; 
}

.sign-up { 
  display:flex;
  flex-wrap: wrap; 
  margin-top: 10px;
}

input[class="inputsearch"] {
  border: 1px solid rgb(165, 165, 165);
  
}

button[id="signup"] { 
  background-color: rgb(103, 103, 103);
  border:  rgb(103, 103, 103);
  
}

button[id="signup"]:hover { 
  background-color: rgb(177, 177, 177);
  border:  rgb(177, 177, 177);
}




/* For phones */
@media (max-width: 767px) {
  .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    padding: 15px;
  }
  .intro {
    margin: 10px;
    padding: 5px;
  }
  .container {
    justify-content: center;
  }
}

/* For tablets */
/* @media (min-width: 768px) and (max-width: 1023px) { */
  /* Your tablet-specific styles here */


/* For desktops */
/* @media (min-width: 1024px) { */
  /* Your desktop-specific styles here */


/* TABLET VERSION */
/* @media only screen and
(min-width: 768px) {
a 
{
  
}
}  */

/* DESKTOP VERSION */
 /* @media only screen and
(min-width: 980px) {
a {

}
}   */
