 * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/* .topnav { 
  background-color:  #DBC1AC; 
  text-align: center;
  justify-content: center;
  /* padding: 5px;  */
}  */
body {
  background-color: #ECE0D1;
  height: 100vh;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 19px;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0px 0px 0px 15px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: 'Roboto', serif;
}

a.active {
  text-decoration: underline;
}

.topnav a:hover {
  text-decoration: underline;
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 22px;
}  

/* * { 
  margin: 0; 
  padding: 0; 
  font-family: 'Roboto', sans-serif;
}
.nav { 
  text-decoration: none;
  padding: 10px;
  margin: 15px;  
  color: black; 
}

a[class="nav"]:hover {
  background-color: #ECE0D1; 
  padding: 10px; 
  border-radius: 3px; 
  text-decoration: underline;
} */


.intro{
  text-align: center;
  margin: 20px;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 400ch;
} 

.row {
  display: flex;
  column-gap: 10px;
  text-align: center;
  margin: 10px;
  padding: 30px;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* 
h2 {
  flex-direction: center;
}  */

img {
  height: 300px;
  width: 300px;
} 

/* .column {
  flex: 50%;
  padding: 20px;
  height: 50px; 
  margin: 100;
  border: 15px solid white;
 }     */

.col-sm {
  border: 15px solid #DBC1AC;
  grid-gap: 100px;
} 

.add-to-basket {
  width: 100%;
}

/* .font-weight-bold {
  font-style: bold;
  text-decoration: underline;
}
.socials {
  font-size: 16px;
  margin: 10px;

}
.socials:hover {
  text-decoration: underline;
} */

.footer { 
  background-color:  #DBC1AC; 
  padding: 30px; 
}


.footer-title { 
  font-size: 30px; 
  letter-spacing: 3px;
}

.subjects { 
  display: flex;
  justify-content: space-around;
  gap: 40px; 
  margin-top: 40px; 
  flex-wrap: wrap; 
}

.hours{
  margin-top: 15px;
}

.list { 
  list-style: none;
  margin-top: 12px;
}

.contact-us { 
  flex-wrap: wrap; 
}
.footer-option {
  text-decoration: none;
  color: black; 
}

.footer-option:hover  {
  text-decoration: underline; 
}

.sign-up { 
  display:flex;
  flex-wrap: wrap; 
  margin-top: 10px;
}

input[class="inputsearch"] {
  border: 1px solid rgb(165, 165, 165);
  
}

button[id="signup"] { 
  background-color: rgb(103, 103, 103);
  border:  rgb(103, 103, 103);
  
}

button[id="signup"]:hover { 
  background-color: rgb(177, 177, 177);
  border:  rgb(177, 177, 177);
}



/* PHONE VERSION  */
@media screen and (max-width: 600px) {
*  {
  flex-direction: column;
  align-items: center;
  column-gap: 0;
  text-align: center;
  row-gap: 30px;
}
}

/* TABLET VERSION */
/* @media only screen and
(min-width: 768px) {
a 
{
  
}
}  */

/* DESKTOP VERSION */
 /* @media only screen and
(min-width: 980px) {
a {

}
}   */
